{% extends "main.twig" %}

{% block menu %}{% endblock %}

{% block interactivemenus %}{% endblock %}
{% block content %}
	<div class="container-fluid row">
		<div class="col-sm-8 mx-auto">
			
			<img src="/img/deezer.png"/ class="title">

			<h1>Please check you're human</h1>
			<form action="?" class="center" method="POST">
				<div class="g-recaptcha" data-sitekey="{{recaptcha_api_key}}"></div>
				<br/>
				{# <input type="submit" value="Submit"> #}
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</form>


		</div>

	</div>


{% endblock %}

{% block javascripts %}
	<script src="https://www.google.com/recaptcha/api.js"></script>
	<script>
		function onSubmit(token) {
document.getElementById("demo-form").submit();
}
	</script>

{% endblock %}
