{% extends "main.twig" %}

{% block menu %}{% endblock %}

{% block interactivemenus %}{% endblock %}
{% block content %}
	<div class="container-fluid row">
		<div class="col-sm-8 mx-auto">
			
			<img src="/img/blindtest.png"/ class="title center">

			<h1>Please check you're human</h1>
			<form action="?" class="center" method="POST">
				<div class="g-recaptcha" data-sitekey="{{recaptcha_api_key}}"></div>
				<br/>
				{# <input type="submit" value="Submit"> #}
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</form>


		</div>

	</div>


{% endblock %}

{% block javascripts %}
	

{% endblock %}
