{% extends "main.twig" %}

{% block menu %}

{% endblock %}

{% block interactivemenus %}

{% endblock %}
{% block content %}

<div class="container-fluid row">
		<div class="col-sm-8 mx-auto">
			<img src="/img/deezer.png"/>
			<h1 class="h3 mb-3 font-weight-normal center">Create an account</h1>
			<form class="form-login" action="{{ url_for('auth.checklogin') }}" method="post">


				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password" autocomplete="Password" required>
				<label for="confirmpassword" class="sr-only">Password</label>
				<input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm password" autocomplete="Password" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>


			</form>


		</div>
		<div class="col-sm-8 mx-auto">
			<a href="{{ url_for('auth.forgotpassword')}}">
				Forgot password ?
			</a>
			<span>.</span>
			<a href="{{ url_for('auth.login')}}">
				Login
			</a>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	<script src="/js/home.js" type="text/javascript"></script>
{% endblock %}
