{% extends "main.twig" %}

{% block menu %}

{% endblock %}

{% block interactivemenus %}

{% endblock %}
{% block content %}

<div class="text-center">
	
		<img src="/img/deezer.png"/ class="title">
		<h1 class="h3 mb-3 font-weight-normal">You have been signed out</h1>
		<div class="col-sm-8 mx-auto">
			<a href="{{ url_for('auth.login')}}">
				Login
			</a>
			<span>.</span>
			<a href="{{ url_for('auth.signin') }}">
				Create login
			</a>
		</div>
</div>

{% endblock %}

{% block javascripts %}
	<script src="/js/home.js" type="text/javascript"></script>
{% endblock %}
