{% extends "main.twig" %}

{% block menu %}

{% endblock %}

{% block interactivemenus %}

{% endblock %}
{% block content %}

<div class="container-fluid row">
		<div class="col-sm-8 mx-auto">
			<img src="/img/deezer.png"/>
			<h1 class="h3 mb-3 font-weight-normal center">Email validation</h1>
			<p>An email has been sent to your email address, please check and clik on the link provided</p>
		</div>
		
	</div>

{% endblock %}

{% block javascripts %}
	<script src="/js/home.js" type="text/javascript"></script>
{% endblock %}
