<!-- Modal dialog for Waint Icon during game creation-->
<div class="modal" id="CreatingGameModal" role="dialog">
	<div class="modal-dialog modal-fullscreen" role="document">
		<div class="modal-content">
			
			<div class="modal-body mx-auto">
				
				<div class="stage">
					<div class="dot-pulse"></div>
				</div>
			</div>

		</div>
	</div>
</div>
