<!-- Modal dialog for Waint Icon during Waiting-->
<div class="modal" id="WaitingModal" role="dialog">
	<div class="modal-dialog modal-fullscreen" role="document">
		<div class="modal-content">
			
			<div class="modal-body mx-auto">
				
				<div class="stage-center-vertical">
					<div class="dot-pulse"></div>
				</div>
			</div>

		</div>
	</div>
</div>
