{% extends "main.twig" %}
{% import "macros/home.twig" as macrohome %}
{% import "macros/macrosplaylist.twig" as macroplaylist %}
{% block headers %}
<link href="/css/dots.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block menu %}
	{{ include('menu.twig') }}
{% endblock %}

{% block interactivemenus %}
	{{include('interactivemenus/AddPlaylist.twig')}}
	{{include('interactivemenus/CreatingGame.twig')}}
{% endblock %}
{% block content %}

	<div id="main_page" class="container-fluid ">


		<div id="playlists" class="row">


			{% for playlist in playlists %}
				{{ macroplaylist.playlistcard(playlist.id,playlist.playlist_title,playlist.playlist_picture,playlist.playlist_link,playlist.tracks,playlist.played) }}
			{% endfor %}


		</div>


	{% endblock %}

	{% block javascripts %}
		<script src="/js/home.js" type="text/javascript"></script>
	{% endblock %}
