{% extends "main.twig" %}
{% import "macros/home.twig" as macrohome %}
{% import "macros/macrosplaylist.twig" as macroplaylist %}
{% block menu %}
	{{ include('menu.twig') }}
{% endblock %}

{% block interactivemenus %}
   
{% endblock %}
{% block content %}

	<div id="main_page" class="container-fluid row">


		<div class="col-sm-12">
			<div id="playlists" class="row">
				

				{% for playlist in playlists %}
					{{ macroplaylist.playlistcard(playlist.id,playlist.playlist_title,playlist.playlist_picture,playlist.playlist_link,playlist.tracks,playlist.played) }}
				{% endfor %}


			</div>


		</div>

	{% endblock %}

	{% block javascripts %}
		<script src="/js/home.js" type="text/javascript"></script>
	{% endblock %}
