<!DOCTYPE html>
<html lang="en">
	<head>
		{{ include('header.twig') }}
        
		{% block headers %}{% endblock %}
	</head>
	<body>

		{% block menu %}{% endblock %}
		
		<main class="container-fluid " role="main"> 
            {% block interactivemenus %}{% endblock %}
            {% block content %}{% endblock %}
		</main>

		</body>
		{{ include('javascripts.twig') }}
		{% block javascripts %}{% endblock %}
	</html>
