<!--Navbar-->
<nav
	class="navbar navbar-expand-lg navbar-dark primary-color">

	<!-- Navbar brand -->
	<div class="navbar-brand">
		<img src="/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
	</div>

	<div class="navbar-text">
		Have fun with this blindtest
	</div>

	<!-- Links -->
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link" href="/">
				<i class="fas fa-home"></i>Home</a>
		</li>
	</ul>
	<!-- Links -->


</nav>
<!--/.Navbar-->
