<!--Navbar-->
<nav
	class="navbar navbar-expand-lg navbar-light bg-light">

	<!-- Navbar brand -->
	<div class="navbar-brand">
		<a class="nav-link" href="/"><img src="/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">Home</a>
	</div>


	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<img id="coinscore" src="/img/goldcoin.png" width="30" height="30" alt=""> <span id="currentscore">0</span>
			Points
		</li>


	</ul>
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-user"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userDropdown">

				<a class="dropdown-item" href="{{ url_for('auth.preferences') }}">User Preferences</a>

				<a class="dropdown-item" href="{{ url_for('auth.changepassword') }}">Change Password</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{ url_for('auth.signout') }}">Log Out</a>


			</div>
		</li>

	</ul>
	<!-- Links -->


</nav>
<!--/.Navbar-->
