<!--Navbar-->
<nav
	class="navbar navbar-expand-lg navbar-light bg-light">

	<!-- Navbar brand -->
	<div class="navbar-brand">
		<a class="nav-link" href="/"><img src="/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">Home</a>
	</div>

	

	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<span id="currentscore">0</span>
			Points
		</li>
	</ul>
	<!-- Links -->


</nav>
<!--/.Navbar-->
