<nav class="navbar navbar-expand-md navbar-dark primary-color">

    <div class="navbar-brand" >
        <img src="/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">

    </div>
    <div class="navbar-text" >
        Have fun with this blindtest 
    </div>

    
</nav>