.invisible {
  display: none !important;
}

.hidden {
  visibility: hidden;
}
img.title {
  width: 25%;
}

.song,
ul.list-inline {
  cursor: default;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

li.navitem,
a#ShowPlaylist.nav-link {
  cursor: pointer;
}

.profilepict {
  border-radius: 50%;
}

.searcherror {
  background-color: lightcoral !important;
}

.image-container {
  position: relative;
}

.image-helper-center {
  border: 0px;
  background: transparent;
  padding-left: 0px;
  padding-right: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  filter: invert(99%) sepia(0%) saturate(4510%) hue-rotate(247deg)
    brightness(111%) contrast(75%);
  opacity: 0.5;
}

.image-helper-bottomright {
  border: 0px;
  padding-left: 10px;
  padding-right: 0px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: lightgray;
}

.searchwarning {
  background-color: lightyellow !important;
}

a.dropdown-item,
.nav-item,
.tableheaderssortable,
.nav-link {
  cursor: pointer;
}

.trackimage {
  width: 50px;
  height: 50px;
  background-color: gray;
  color: white;
  display: table;
}

.unknowimage {
  display: table-cell;
  vertical-align: middle;
}
.hugebutton {
  /*    width:60%;
        height:60%;*/
  margin: auto;
}

.signal {
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  color: transparent;
}

.selected {
  font-weight: bold;
}

.notselected {
  font-weight: normal;
}

.badge-right {
  float: right;
}

.center {
  margin: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.red {
  color: red;
}

.green {
  color: green;
}

.submitanswer {
  cursor: default;
}

.card-success {
  background-color: #d1e7dd;
}

.card-danger {
  background-color: #f8d7da;
}

.card-light {
  background-color: #d0d7ff;
}

#startbutton {
  height: 200px;
}

.submitanswer {
  border-color: black;
  border: 1px solid;
  border-radius: 0.25rem;
  height: calc(100% - 5px);
  margin-bottom: 20px;
}

.submitanswer .trackimage {
  margin-top: 15px;
  width: 50%;
  height: auto;
}

.submitanswer .progress {
  bottom: 5px;
}

#MainPage {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.carddata .card-body{
  padding-left:0px;
  padding-right:0px;
}