<h1 id="w_site-settings">Site settings</h1>
<p>When Firefox is actively blocking media with sound on a website, you'll see a special icon
	<img alt="Fx66BlockAutoplayIcon" data-original-src="https://user-media-prod-cdn.itsre-sumo.mozilla.net/uploads/gallery/images/2019-03-20-03-14-47-f0bd84.png" src="https://user-media-prod-cdn.itsre-sumo.mozilla.net/uploads/gallery/images/2019-03-20-03-14-47-f0bd84.png" title="">

	in the address bar. Click that icon to open the Site Information drop-down panel, where you can change the Autoplay setting for that website.

	<img alt="Fx70Autoplay-allow-or-block" class="wiki-image frameless" data-original-src="https://user-media-prod-cdn.itsre-sumo.mozilla.net/uploads/gallery/images/2019-11-03-12-08-09-60eebf.png" src="https://user-media-prod-cdn.itsre-sumo.mozilla.net/uploads/gallery/images/2019-11-03-12-08-09-60eebf.png" title="">
</p>
